
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("./images/michal-parzuchowski-U8n_O7rEq7o-unsplash.jpg");
    background-size: cover;
    text-align: center;
    color:white;
    font-weight: bold;
   
}

h1 {
    color:#f9c11c;
    font-size: 100px;
}

#message-el {
    font-style: italic;
    text-align: center;
    font-size: 40px;
}

#cards-el {font-size: 25px;}

#sum-el{font-size: 20px;}

button {
    color:black;
    width: 200px;
    height: 60px;
    background:#f9c11c;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border:none;
    border-radius: 50px;
}

button:active {
  background-color:#0d8549;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

div.card{
    display: inline-block;
    height: 100px;
    width:65px;
    border: 1px solid black;
    margin: 10px auto;
    background-color: white;
    border-radius: 10px;
}

.card-value{
    color: black;
    padding-top: 30px;
    font-size: 30px;
}

div.inactive {
    display: none;
}

#start-game-btn {
    width: 300px;
    font-size: 24px;
}

#new-game-btn {
    display:none;
    margin: auto;
    
}

#new-card-btn {
    display:none;
    width: 250px;
    font-size: 20px;
    margin: 5px  auto;
}




